#container {
  display: grid;

  grid-template-rows: repeat(var(--grid-rows), 55px);
  grid-template-columns: repeat(var(--grid-cols), 55px);
}


.grid-item {
  padding: 1em;
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
}